<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- cdn vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>vue to do list</title>
  </head>
  <body>

    <ul id="list_item">
      <input  type="text" name="" value="" v-model="valueVue" v-on:keyup.enter="addList(valueVue)">
      <button  type="button" name="button" @click="addList(valueVue)">submit</button>
      <li v-for="(listItem, index) in toDoList" > {{listItem}} <i class="far fa-check-circle" @click="deleteItem(index)"></i> </li>

    </ul>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
